body {
   display: grid;
   min-height: 100%;
   grid-template-rows: 200px 700px 1fr;
   grid-template-columns: 400px 2fr 1fr;
   grid-template-areas: "stamp blanks cuts"
   		        "navigation infopage cuts";
}

.blank {
   grid-area: blanks;
}

.cut {
   grid-area: cuts;
}

.navbar {
   grid-area: navigation;
}

.logo {
   grid-area: stamp;
   text-align: center;
   padding-left: 1px;
   padding-top: 20%;
}

.main {
   grid-area: infopage;
   overflow: hidden;
   font-size: 1.1em;
}

#menu a.selected {
    color:#FFFFFF;
    background-color: #910000;
}
#menu ul {
    margin: 0;
    padding: 25px 0 0 20px;
    list-style: none;
    line-height: normal;
}
#menu li {
    display: block;
    float: left;
    width: 400px;
}
#menu a {
    display: block;
    float: left;
    margin-right: 17px;
    margin-left: 17px;
    padding: 5px 12px;
    text-decoration: none;
    font-size: 1.4em;
    font-weight: bold;
    font-family: monospace;
    color: #FFFFFF;
}
#menu a:hover {
    text-decoration: underline;
    color:#FFFFFF;
}

#menu li:hover {
    text-decoration: underline;
    color:#910000;
}

#menu a:active {
    color:#FFFFFF;
}
